* {
  font-family: courier;
}

#board {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: white;
  font-size: 12px;
  position: absolute;
  left: 3px;
}

#stock {
  height: 75px;
  width: 55px;
  background-color: blue;
  margin-top: 2px;
  position: relative;
}

.mainboard {
  flex-grow: 2;
  border: 2px solid lightgray;
  display: flex;
  justify-content: space-around;
}

.action-card .card-outline {
  stroke: blue;
}

.cardstack {
  height: 70px;
  width: 50px;
  border: 3px solid red;
  position: relative;
}

.deal {
  width: 60px;
}

.stash {
  display: flex;
  flex-direction: column;
  width: 60px;
}

.stashbox {
  height: 70px;
  width: 45px;
  border: 1px solid lightgray;
}