* {
  font-family: courier;
  box-sizing: border-box;
}

#board {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: white;
  font-size: 12px;
  position: absolute;
  left: 2px;
  height: 75px;
  width: 45px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.card-face {
  margin: 2px;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-cover:hover {
  border: 3px solid green;
}

.card-suit {
  margin: 2px;
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}

#stock {
  height: 75px;
  width: 55px;
  background-color: blue;
  margin-top: 2px;
  position: relative;
}

.mainboard {
  flex-grow: 2;
  border: 2px solid lightgray;
  display: flex;
  justify-content: space-around;
}

.action-card .card-outline {
  stroke: blue;
}

.cardstack {
  height: 70px;
  width: 50px;
  border: 3px solid red;
  position: relative;
}

.deal {
  width: 60px;
}

.stash {
  display: flex;
  flex-direction: column;
  width: 60px;
}

.stashbox {
  height: 70px;
  width: 45px;
  border: 1px solid lightgray;
}